<%= form_with(model: @twittter, local: true, url: choose_create_or_edit ) do |f| %>
    <% if @twittter.errors.any? %>
        <% @twittter.errors.full_messages.each do |msg| %>
            <div class='alert alert-danger'><%= msg %></div>        
        <% end %>       
    <% end %>
    <%= f.label :content,"ツイート内容" %><br>
    <%= f.text_field(:content,{:class => 'form-control'}) %>
  <%= f.submit("ツイートする") %>
  <%= link_to '戻る', :back %>
<% end %>